.p {
  font-family: "Open Sans", serif;
  font-size: 20px;
}

.p1 {
  font-style: italic;
}

.p2 {
  text-decoration: line-through;
}

.p3 {
  text-align: center;
  text-transform: uppercase;
  text-indent: 40px;

}

.p4 {
  text-decoration: overline wavy;
  text-shadow: 3px 5px 5px #b20885;
  word-spacing: 30px;
}

.p5 {
  letter-spacing: 5px;
  text-decoration: underline double 3px;
  line-height: 60px;


}