body {
  font-family: sans-serif;
}

table {
  margin: 40px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  border: 1px solid #000000;
  border-bottom: none;
}

td,
th {
  padding: 1px 3px;
  font-size: px;
  border: 1px solid #000000;
  text-align: center;
}

.weekend {
  color: red;
}